@model BTL_NMCNPM.Models.tblHoSoNhanVien
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Hồ sơ ứng viên";
    var MaTK = HttpContextAccessor.HttpContext?.Session.GetString("MaTk") ?? "0";
    string MaNV = "NV" + MaTK;
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2 class="text-center">Hồ sơ ứng viên</h2>

<form asp-controller="Home" asp-action="HoSoUngVien" method="post">
    <input type="hidden" class="form-control" asp-for="sMaNV" value="@MaNV" />

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="tennhanvien">Tên nhân viên</label>
            <input type="text" class="form-control" id="tennhanvien" asp-for="sTenNV" placeholder="Tên nhân viên"/>
        </div>
        <div class="col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" asp-for="sEmail" placeholder="Email"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="CCCD">CCCD</label>
            <input type="text" class="form-control" id="CCCD" asp-for="iCCCD" placeholder="CCCD"/>
        </div>
        <div class="col-md-6">
            <label for="ngaysinh">Ngày sinh</label>
            <input type="date" class="form-control" id="ngaysinh" asp-for="dNgaysinh" 
                   value="@(Model.dNgaysinh.HasValue ? Model.dNgaysinh.Value.ToString("yyyy-MM-dd") : "")"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="SDT">Số điện thoại</label>
            <input type="text" class="form-control" id="SDT" asp-for="iSDT" placeholder="Số điện thoại"/>
        </div>
        <div class="col-md-6">
            <label for="diachi">Địa chỉ</label>
            <input type="text" class="form-control" id="diachi" asp-for="sDiachi" placeholder="Địa chỉ"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="hocvan">Học vấn và kỹ năng</label>
            <input type="text" class="form-control" id="hocvan" asp-for="sHocvan" placeholder="Học vấn và kỹ năng"/>
        </div>
        <div class="col-md-6">
            <label for="kinhnghiem">Kinh nghiệm và thành tích</label>
            <input type="text" class="form-control" id="kinhnghiem" asp-for="sKinhnghiem" placeholder="Kinh nghiệm và thành tích"/>
        </div>
    </div>

    <a class="btn btn-primary mt-3 mx-3 text-white text-decoration-none" asp-controller="Home" asp-action="EditHoSo" asp-route-sMaNV="@Model.sMaNV">
        Chỉnh sửa
    </a>
    <button type="submit" class="btn btn-success mt-3 mx-3">Xác nhận</button>
</form>
